<a href="https://colab.research.google.com/github/robert-myers/myanimelist-recommender/blob/master/notebooks/mal_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install jikanpy && pip install scikit-surprise && pip install --upgrade pandas

In [0]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

In [0]:
import ast
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import surprise as sp

from jikanpy import Jikan
from surprise import Dataset, NormalPredictor, Reader
from surprise.model_selection import cross_validate, train_test_split

In [0]:
jikan = Jikan()

In [0]:
%%time

anime_lists_df = pd.read_csv("https://s3.us-east-2.amazonaws.com/my.anime.list.sagemaker/myanimelist/animelists_cleaned.csv",
                             parse_dates=["my_last_updated"],
                             ).drop(columns=["my_start_date", "my_finish_date"])
anime_lists_df = anime_lists_df[anime_lists_df["my_score"] != 0]
anime_lists_df = anime_lists_df[anime_lists_df["username"].notna()]

CPU times: user 52.2 s, sys: 9.92 s, total: 1min 2s
Wall time: 1min 28s

In [0]:
anime_lists_by_user = anime_lists_df.groupby("username")
anime_lists_by_anime = anime_lists_df.groupby("anime_id")

In [0]:
users_df = pd.read_csv("https://s3.amazonaws.com/my.anime.list/myanimelist/users_cleaned.csv",
                       parse_dates=["birth_date",	"join_date",	"last_online"],
                       index_col="user_id",
                       ).drop(columns=["access_rank"])

In [0]:
anime_df = pd.read_csv("https://s3.us-east-2.amazonaws.com/my.anime.list.sagemaker/myanimelist/anime_cleaned.csv",
                       index_col="anime_id",
                       )

In [0]:
def lit_eval(row):
  try:
    return ast.literal_eval(row)
  except:
    return ast.literal_eval(str(row))

anime_df["aired"] = anime_df["aired"].apply(lambda row: lit_eval(row))
anime_df["aired_from"] = anime_df["aired"].apply(lambda x: x["from"])
anime_df["aired_to"] = anime_df["aired"].apply(lambda x: x["to"])
anime_df["aired_from"] = pd.to_datetime(anime_df["aired_from"])
anime_df["aired_to"] = pd.to_datetime(anime_df["aired_to"])
# anime_df["aired_from_year"] = pd.to_datetime(anime_df["aired_from_year"], format="%Y")
anime_df.drop(columns=["aired_string", "aired", "aired_from_year"], inplace=True)

In [0]:
custom_df = pd.read_csv("https://s3.amazonaws.com/my.anime.list/surprise/custom_dataset.csv").drop(columns="Unnamed: 0")
custom_df.rename(columns={"username": "userID", "anime_id": "itemID", "my_score": "rating"}, inplace=True)
custom_df = custom_df[['userID', 'itemID', 'rating']]

In [0]:
custom_df.tail()

           userID  itemID  rating
19171945  4862000   15611       9
19171946  4862000   27815       9
19171947   299167    5945       8
19171948   263803    1316       9
19171949    48074    1744      10

## anime_lists_df

In [0]:
anime_lists_df.isna().sum()

username                      0
anime_id                      0
my_watched_episodes           0
my_score                      0
my_status                     0
my_rewatching           5059315
my_rewatching_ep              0
my_last_updated               0
my_tags                17522052
dtype: int64

In [0]:
train_data, test_data, _ = np.split(data.sample(frac=1, random_state=123), 
                                                  [int(0.95 * len(data)), int(len(data))])

In [0]:
anime_lists_df

                  username  anime_id  ...     my_last_updated  my_tags
0                 karthiga        21  ... 2013-03-03 10:52:53      NaN
1                 karthiga        59  ... 2013-03-10 13:54:51      NaN
2                 karthiga        74  ... 2013-04-27 16:43:35      NaN
3                 karthiga       120  ... 2013-03-03 10:53:57      NaN
4                 karthiga       178  ... 2013-03-27 15:59:13      NaN
...                    ...       ...  ...                 ...      ...
31284025     Yokonightcore     15611  ... 2015-09-07 17:33:03      NaN
31284026     Yokonightcore     27815  ... 2015-09-07 17:32:05      NaN
31284027            wargod      5945  ... 2010-03-29 04:24:12      NaN
31284028  JMc_SetoKai_LoVe      1316  ... 2009-12-23 05:45:14      NaN
31284029    hinogurl_mikha      1744  ... 2008-04-05 11:36:20      NaN

[19171950 rows x 9 columns]

In [0]:
anime_lists_by_user.get_group("hinogurl_mikha")

                username  anime_id  ...     my_last_updated  my_tags
31284029  hinogurl_mikha      1744  ... 2008-04-05 11:36:20      NaN

[1 rows x 9 columns]

In [0]:
anime_lists_by_anime["my_score"].mean().sort_values(ascending=False).head(10)

anime_id
5114     9.217382
28977    9.177290
9969     9.136981
9253     9.129402
32281    9.122810
15335    9.094883
4181     9.085412
15417    9.072807
11061    9.053900
37179    9.000000
Name: my_score, dtype: float64

## users_df

In [0]:
custom_df["userID"].nunique()

106401

In [0]:
users_df.isna().sum()

username                    1
user_watching               0
user_completed              0
user_onhold                 0
user_dropped                0
user_plantowatch            0
user_days_spent_watching    0
gender                      0
location                    5
birth_date                  0
join_date                   0
last_online                 0
stats_mean_score            0
stats_rewatched             0
stats_episodes              0
dtype: int64

In [0]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108711 entries, 2255153 to 1289601
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   username                  108710 non-null  object
 1   user_watching             108711 non-null  int64
 2   user_completed            108711 non-null  int64
 3   user_onhold               108711 non-null  int64
 4   user_dropped              108711 non-null  int64
 5   user_plantowatch          108711 non-null  int64
 6   user_days_spent_watching  108711 non-null  float64
 7   gender                    108711 non-null  object
 8   location                  108706 non-null  object
 9   birth_date                108711 non-null  datetime64[ns]
 10  join_date                 108711 non-null  datetime64[ns]
 11  last_online               108711 non-null  datetime64[ns]
 12  stats_mean_score          108711 non-null  float64
 13  stats_rewatched           108711 non-null  float64
 14  stats_episodes            108711 non-null  int64
dtypes: datetime64[ns](3), float64(3), int64(6), object(3)
memory usage: 13.3+ MB

In [0]:
users_df

               username  user_watching  ...  stats_rewatched  stats_episodes
user_id                                 ...
2255153        karthiga              3  ...              0.0            3391
37326         Damonashu             45  ...              6.0            4903
228342            bskai             25  ...              1.0            9701
327311   terune_uzumaki              5  ...              6.0             697
5015094           Bas_G             35  ...              0.0            1847
...                 ...            ...  ...              ...             ...
797785           isoann             14  ...              2.0            3939
1396285        bumcakee             13  ...             24.0            2537
2478991       Scarlet95              6  ...              1.0            2869
3975907        Torasori             22  ...             47.0            4469
1289601          HMicca             11  ...             11.0            3822

[108711 rows x 15 columns]

## anime_df

In [0]:
anime_df.isna().sum()

title                0
title_english     3230
title_japanese       5
title_synonyms    2187
image_url            2
type                 0
source               0
episodes             0
status               0
airing               0
duration             0
rating               0
score                0
scored_by            0
rank               356
popularity           0
members              0
favorites            0
background        5855
premiered         3702
broadcast         3688
related              0
producer          2266
licensor          3881
studio               0
genre                4
opening_theme        0
ending_theme         0
duration_min         0
aired_from         115
aired_to           292
dtype: int64

In [0]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6668 entries, 11013 to 36315
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           6668 non-null   object
 1   title_english   3438 non-null   object
 2   title_japanese  6663 non-null   object
 3   title_synonyms  4481 non-null   object
 4   image_url       6666 non-null   object
 5   type            6668 non-null   object
 6   source          6668 non-null   object
 7   episodes        6668 non-null   int64
 8   status          6668 non-null   object
 9   airing          6668 non-null   bool
 10  duration        6668 non-null   object
 11  rating          6668 non-null   object
 12  score           6668 non-null   float64
 13  scored_by       6668 non-null   int64
 14  rank            6312 non-null   float64
 15  popularity      6668 non-null   int64
 16  members         6668 non-null   int64
 17  favorites       6668 non-null   int64
 18  background      813 non-null    object
 19  premiered       2966 non-null   object
 20  broadcast       2980 non-null   object
 21  related         6668 non-null   object
 22  producer        4402 non-null   object
 23  licensor        2787 non-null   object
 24  studio          6668 non-null   object
 25  genre           6664 non-null   object
 26  opening_theme   6668 non-null   object
 27  ending_theme    6668 non-null   object
 28  duration_min    6668 non-null   float64
 29  aired_from      6553 non-null   datetime64[ns]
 30  aired_to        6376 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(3), int64(5), object(20)
memory usage: 1.6+ MB

In [0]:
anime_df.head(1)

                  title              title_english  ... aired_from   aired_to
anime_id                                            ...
11013     Inu x Boku SS  Inu X Boku Secret Service  ... 2012-01-13 2012-03-30

[1 rows x 31 columns]

In [0]:
anime_df.loc[2104]

title                                               Seto no Hanayome
title_english                                  My Bride is a Mermaid
title_japanese                                                 瀬戸の花嫁
title_synonyms                                  The Inland Sea Bride
image_url          https://myanimelist.cdn-dena.com/images/anime/...
type                                                              TV
source                                                         Manga
episodes                                                          26
status                                               Finished Airing
airing                                                         False
aired_string                              Apr 2, 2007 to Oct 1, 2007
aired                     {'from': '2007-04-02', 'to': '2007-10-01'}
duration                                             24 min. per ep.
rating                                     PG-13 - Teens 13 or older
score                                                           7.89
scored_by                                                      91206
rank                                                             727
popularity                                                       366
members                                                       204003
favorites                                                       2579
background                                                       NaN
premiered                                                Spring 2007
broadcast                                                    Unknown
related            {'Adaptation': [{'mal_id': 759, 'type': 'manga...
producer                           TV Tokyo, AIC, Square Enix, Sotsu
licensor                                                  Funimation
studio                                                         Gonzo
genre                       Comedy, Parody, Romance, School, Shounen
opening_theme                     ['"Romantic summer" by SUN&LUNAR']
ending_theme       ['#1: "Ashita e no Hikari (明日への光)" by Asuka Hi...
duration_min                                                      24
aired_from_year                                                 2007
Name: 2104, dtype: object

In [0]:
anime_df["rating"].unique()

array(['PG-13 - Teens 13 or older', 'PG - Children', 'G - All Ages',
       'R+ - Mild Nudity', 'R - 17+ (violence & profanity)', 'None',
       'Rx - Hentai'], dtype=object)

In [0]:
anime_lists_by_anime.get_group(11013)["my_score"].mean()

7.642763330706593

In [0]:
for k, v in jikan.anime(2104).items():
  print(k, v)

request_hash request:anime:cf2a8fdd20221a9ad08fb1b3d28089e4af32791f
request_cached True
request_cache_expiry 46197
mal_id 2104
url https://myanimelist.net/anime/2104/Seto_no_Hanayome
image_url https://cdn.myanimelist.net/images/anime/13/58383.jpg
trailer_url https://www.youtube.com/embed/gqgk9frneoA?enablejsapi=1&wmode=opaque&autoplay=1
title Seto no Hanayome
title_english My Bride is a Mermaid
title_japanese 瀬戸の花嫁
title_synonyms ['The Inland Sea Bride']
type TV
source Manga
episodes 26
status Finished Airing
airing False
aired {'from': '2007-04-02T00:00:00+00:00', 'to': '2007-10-01T00:00:00+00:00', 'prop': {'from': {'day': 2, 'month': 4, 'year': 2007}, 'to': {'day': 1, 'month': 10, 'year': 2007}}, 'string': 'Apr 2, 2007 to Oct 1, 2007'}
duration 24 min per ep
rating PG-13 - Teens 13 or older
score 7.82
scored_by 103796
rank 819
popularity 443
members 238651
favorites 2767
synopsis During his summer vacation, middle school student Nagasumi Michishio travels to the Seto Inland Sea. One day, while swimming at Mio Sun Beach, his leg suddenly cramps. No one is close enough to notice his desperate screams for help, and so he sinks into the ocean, where he is left to drown alone. Just as he loses consciousness, however, a mermaid appears and saves his life. That night, Nagasumi is visited by his savior, a girl who introduces herself as Sun Seto—a mermaid from a yakuza family. As it turns out, under mermaid law, a mermaid whose identity is revealed to a human must be punished by execution. To avoid this harrowing outcome, the Seto family propose a solution: Nagasumi must marry Sun or die at the hands of Gouzaburou, Sun's father and boss of the Seto clan. Faced with no other option, Nagasumi takes her hand in marriage. Now, the newlyweds face the difficult task of keeping their relationship secret. Between Gouzaburou's unending attempts on Nagasumi's life and the eccentric antics of a slew of antagonists, a genuine and innocent love blossoms between the pair as they adapt to their new life. [Written by MAL Rewrite]
background None
premiered Spring 2007
broadcast Unknown
related {'Adaptation': [{'mal_id': 759, 'type': 'manga', 'name': 'Seto no Hanayome', 'url': 'https://myanimelist.net/manga/759/Seto_no_Hanayome'}], 'Sequel': [{'mal_id': 4163, 'type': 'anime', 'name': 'Seto no Hanayome OVA', 'url': 'https://myanimelist.net/anime/4163/Seto_no_Hanayome_OVA'}], 'Side story': [{'mal_id': 5199, 'type': 'anime', 'name': 'Seto no Hanayome Fan Disc', 'url': 'https://myanimelist.net/anime/5199/Seto_no_Hanayome_Fan_Disc'}], 'Alternative version': [{'mal_id': 28385, 'type': 'anime', 'name': 'Seto no Hanayome Picture Drama', 'url': 'https://myanimelist.net/anime/28385/Seto_no_Hanayome_Picture_Drama'}]}
producers [{'mal_id': 16, 'type': 'anime', 'name': 'TV Tokyo', 'url': 'https://myanimelist.net/anime/producer/16/TV_Tokyo'}, {'mal_id': 48, 'type': 'anime', 'name': 'AIC', 'url': 'https://myanimelist.net/anime/producer/48/AIC'}, {'mal_id': 58, 'type': 'anime', 'name': 'Square Enix', 'url': 'https://myanimelist.net/anime/producer/58/Square_Enix'}, {'mal_id': 64, 'type': 'anime', 'name': 'Sotsu', 'url': 'https://myanimelist.net/anime/producer/64/Sotsu'}]
licensors [{'mal_id': 102, 'type': 'anime', 'name': 'Funimation', 'url': 'https://myanimelist.net/anime/producer/102/Funimation'}]
studios [{'mal_id': 3, 'type': 'anime', 'name': 'Gonzo', 'url': 'https://myanimelist.net/anime/producer/3/Gonzo'}]
genres [{'mal_id': 4, 'type': 'anime', 'name': 'Comedy', 'url': 'https://myanimelist.net/anime/genre/4/Comedy'}, {'mal_id': 20, 'type': 'anime', 'name': 'Parody', 'url': 'https://myanimelist.net/anime/genre/20/Parody'}, {'mal_id': 22, 'type': 'anime', 'name': 'Romance', 'url': 'https://myanimelist.net/anime/genre/22/Romance'}, {'mal_id': 23, 'type': 'anime', 'name': 'School', 'url': 'https://myanimelist.net/anime/genre/23/School'}, {'mal_id': 27, 'type': 'anime', 'name': 'Shounen', 'url': 'https://myanimelist.net/anime/genre/27/Shounen'}]
opening_themes ['"Romantic summer" by SUN&LUNAR']
ending_themes ['"Ashita e no Hikari (明日への光)" by Asuka Hinoi (1-13, 26)', '"Dan Dan Dan" by SUN&LUNAR (eps 14-25)']
jikan_url https://api.jikan.moe/v3/anime/2104
headers {'Server': 'nginx/1.14.0 (Ubuntu)', 'Date': 'Mon, 24 Feb 2020 01:34:15 GMT', 'Content-Type': 'application/json', 'Content-Length': '1790', 'Connection': 'keep-alive', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Methods': '*', 'Cache-Control': 'private, must-revalidate', 'ETag': '"d39e08d3274083e7d5df0fe0db418408"', 'X-Request-Hash': 'request:anime:cf2a8fdd20221a9ad08fb1b3d28089e4af32791f', 'X-Request-Cached': '1', 'X-Request-Cache-Ttl': '46197', 'Expires': 'Mon, 24 Feb 2020 13:58:21 GMT', 'Content-Encoding': 'gzip', 'Vary': 'Accept-Encoding', 'X-Cache-Status': 'HIT'}

# custom dataset

In [0]:
sagemaker_df = custom_df.copy()
sagemaker_df.rename(columns={"rating": "my_score"}, inplace=True)

In [0]:
sagemaker_df

           userID  itemID  my_score
0         2255153      21         9
1         2255153      59         7
2         2255153      74         7
3         2255153     120         7
4         2255153     178         7
...           ...     ...       ...
19171945  4862000   15611         9
19171946  4862000   27815         9
19171947   299167    5945         8
19171948   263803    1316         9
19171949    48074    1744        10

[19171950 rows x 3 columns]

In [0]:
users_dct = dict(users_df.T)

In [0]:
anime_dct = dict(anime_df.T)

In [0]:
anime_df.loc[1744]

title                                  Wagamama☆Fairy Mirumo de Pon!
title_english                                          Mirmo Zibang!
title_japanese                                    わがまま☆フェアリー ミルモでポン!
title_synonyms     Milmo de Pon!, Mirmo!, Wagamama Fairy Milmo De...
image_url          https://myanimelist.cdn-dena.com/images/anime/...
type                                                              TV
source                                                         Manga
episodes                                                         172
status                                               Finished Airing
airing                                                         False
aired_string                             Apr 6, 2002 to Sep 27, 2005
aired                     {'from': '2002-04-06', 'to': '2005-09-27'}
duration                                             21 min. per ep.
rating                                                  G - All Ages
score                                                           7.43
scored_by                                                       4293
rank                                                            1915
popularity                                                      3546
members                                                        10915
favorites                                                        111
background                                                       NaN
premiered                                                Spring 2002
broadcast                                                    Unknown
related            {'Adaptation': [{'mal_id': 5362, 'type': 'mang...
producer                                               Trinity Sound
licensor                                                   Viz Media
studio                                                 Studio Hibari
genre              Kids, Adventure, Fantasy, Magic, Comedy, Roman...
opening_theme      ['#1: Pretty Cake Magic (eps 1-28)', '#2: Keic...
ending_theme       ['#01: Mirumo no waratsu (eps 1-28)', '#02: Sa...
duration_min                                                      21
aired_from_year                                                 2002
Name: 1744, dtype: object

In [0]:
sagemaker_df["my_score"]

0            9
1            7
2            7
3            7
4            7
            ..
19171945     9
19171946     9
19171947     8
19171948     9
19171949    10
Name: my_score, Length: 19171950, dtype: int64

In [0]:
def make_sage(df):
    df = df.join(df.apply(lambda x: users_dct[x["userID"]].append(anime_dct[x["itemID"]]), axis=1))
    return df

X = sagemaker_df.drop(columns="my_score")
y = sagemaker_df["my_score"]

X, _, y, _ = train_test_split(X, y, stratify=y, test_size=.99, train_size=.01)
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [0]:
X.nunique()

userID    65545
itemID     5383
dtype: int64

In [0]:
train_one_percent = pd.concat([X_train, y_train], axis=1)
train_one_percent = make_sage(train_one_percent)
test_one_percent = pd.concat([X_test, y_test], axis=1)
test_one_percent = make_sage(test_one_percent)

In [0]:
len(train_one_percent), len(test_one_percent)

(143789, 47930)

In [0]:
train_one_percent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143789 entries, 7377478 to 9145034
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   userID                    143789 non-null  int64
 1   itemID                    143789 non-null  int64
 2   my_score                  143789 non-null  int64
 3   username                  143789 non-null  object
 4   user_watching             143789 non-null  int64
 5   user_completed            143789 non-null  int64
 6   user_onhold               143789 non-null  int64
 7   user_dropped              143789 non-null  int64
 8   user_plantowatch          143789 non-null  int64
 9   user_days_spent_watching  143789 non-null  float64
 10  gender                    143789 non-null  object
 11  location                  143784 non-null  object
 12  birth_date                143789 non-null  datetime64[ns]
 13  join_date                 143789 non-null  datetime64[ns]
 14  last_online               143789 non-null  datetime64[ns]
 15  stats_mean_score          143789 non-null  float64
 16  stats_rewatched           143789 non-null  float64
 17  stats_episodes            143789 non-null  int64
 18  title                     143789 non-null  object
 19  title_english             119302 non-null  object
 20  title_japanese            143789 non-null  object
 21  title_synonyms            108339 non-null  object
 22  image_url                 143789 non-null  object
 23  type                      143789 non-null  object
 24  source                    143789 non-null  object
 25  episodes                  143789 non-null  int64
 26  status                    143789 non-null  object
 27  airing                    143789 non-null  bool
 28  aired_string              143789 non-null  object
 29  aired                     143789 non-null  object
 30  duration                  143789 non-null  object
 31  rating                    143789 non-null  object
 32  score                     143789 non-null  float64
 33  scored_by                 143789 non-null  int64
 34  rank                      142129 non-null  float64
 35  popularity                143789 non-null  int64
 36  members                   143789 non-null  int64
 37  favorites                 143789 non-null  int64
 38  background                55003 non-null   object
 39  premiered                 100782 non-null  object
 40  broadcast                 100785 non-null  object
 41  related                   143789 non-null  object
 42  producer                  126525 non-null  object
 43  licensor                  116298 non-null  object
 44  studio                    143789 non-null  object
 45  genre                     143783 non-null  object
 46  opening_theme             143789 non-null  object
 47  ending_theme              143789 non-null  object
 48  duration_min              143789 non-null  float64
 49  aired_from_year           143789 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(7), int64(14), object(25)
memory usage: 60.0+ MB

In [0]:
train_one_percent.to_csv("train_sagemaker_one_percent.csv")

In [0]:
test_one_percent.to_csv("test_sagemaker_one_percent.csv")

In [0]:
sagemaker_df = make_sage(sagemaker_df)

In [0]:
sagemaker_df = sagemaker_df.apply(lambda x: users_df.loc[x["userID"]].append(anime_df.loc[x["itemID"]]).append(sagemaker_df.loc[x.name][["my_score"]]), axis=1)

In [0]:
users_df.loc[a_user_id].append(anime_df.loc[an_item_id]).append()

username                                                       hinogurl_mikha
user_watching                                                               1
user_completed                                                              0
user_onhold                                                                 0
user_dropped                                                                0
user_plantowatch                                                            0
user_days_spent_watching                                             0.845833
gender                                                                 Female
location                                                         makati,phil.
birth_date                                                1992-11-17 00:00:00
join_date                                                 2008-04-05 00:00:00
last_online                                               2008-04-14 04:32:00
stats_mean_score                                                           10
stats_rewatched                                                             0
stats_episodes                                                             58
title                                           Wagamama☆Fairy Mirumo de Pon!
title_english                                                   Mirmo Zibang!
title_japanese                                             わがまま☆フェアリー ミルモでポン!
title_synonyms              Milmo de Pon!, Mirmo!, Wagamama Fairy Milmo De...
image_url                   https://myanimelist.cdn-dena.com/images/anime/...
type                                                                       TV
source                                                                  Manga
episodes                                                                  172
status                                                        Finished Airing
airing                                                                  False
aired_string                                      Apr 6, 2002 to Sep 27, 2005
aired                              {'from': '2002-04-06', 'to': '2005-09-27'}
duration                                                      21 min. per ep.
rating                                                           G - All Ages
score                                                                    7.43
scored_by                                                                4293
rank                                                                     1915
popularity                                                               3546
members                                                                 10915
favorites                                                                 111
background                                                                NaN
premiered                                                         Spring 2002
broadcast                                                             Unknown
related                     {'Adaptation': [{'mal_id': 5362, 'type': 'mang...
producer                                                        Trinity Sound
licensor                                                            Viz Media
studio                                                          Studio Hibari
genre                       Kids, Adventure, Fantasy, Magic, Comedy, Roman...
opening_theme               ['#1: Pretty Cake Magic (eps 1-28)', '#2: Keic...
ending_theme                ['#01: Mirumo no waratsu (eps 1-28)', '#02: Sa...
duration_min                                                               21
aired_from_year                                                          2002
dtype: object

In [0]:
custom_df["rating"].mean(), custom_df["rating"].median(), custom_df["rating"].mode()

(7.591403847808908, 8.0, 0    8
 dtype: int64)

In [0]:
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(custom_df, reader)

In [0]:
from surprise import AlgoBase
from surprise import Dataset
from surprise.model_selection import cross_validate


class MyOwnAlgorithm(AlgoBase):

    def __init__(self):

        # Always call base method before doing anything.
        AlgoBase.__init__(self)

    def estimate(self, u, i):

        return 8


algo = MyOwnAlgorithm()


from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import KFold

# define a cross-validation iterator
kf = KFold(n_splits=10)

for trainset, testset in kf.split(data):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

RMSE: 1.7544
RMSE: 1.7539
RMSE: 1.7544
RMSE: 1.7542
RMSE: 1.7552
RMSE: 1.7564
RMSE: 1.7542
RMSE: 1.7536
RMSE: 1.7519
RMSE: 1.7561

In [0]:
rmses = [1.7544, 1.7539, 1.7544, 1.7542, 1.7552, 1.7564, 1.7542, 1.7536, 1.7519, 1.7561]
np.mean(rmses)

1.75443

In [0]:
user_id_dct = dict(users_df["username"].dropna().reset_index().set_index("username")["user_id"])

In [0]:

from joblib import Parallel, delayed
import multiprocessing
from multiprocessing import cpu_count

def name_to_id(df):
    df.replace(user_id_dct, inplace=True)
    return df

cores = cpu_count() #Number of CPU cores on your system
partitions = cores #Define as many partitions as you want
 
def parallelize(data, func):
    data_split = np.array_split(data, partitions)
    pool = Pool(cores)
    data = pd.concat(pool.map(func, data_split))
    pool.close()
    pool.join()
    return data

def applyParallel(dfGrouped, func):
    retLst = Parallel(n_jobs=multiprocessing.cpu_count(), verbose=multiprocessing.cpu_count())(delayed(func)(group) for name, group in dfGrouped)
    return pd.concat(retLst)

# custom_df["username"] = custom_df["username"].apply(lambda x: users_df[users_df["username"] == x].index[0])

# applyParallel(custom_df[:5].groupby(custom_df[:5].index), name_to_id)

In [0]:
# data = Dataset.load_from_df(df[['userID', 'itemID', 'rating']], reader)
anime_lists_df

In [0]:
%%time

custom_df[:5].replace(user_id_dct)

CPU times: user 4.7 s, sys: 88.8 ms, total: 4.79 s
Wall time: 4.79 s

   anime_id  my_score  username
0        21         9   2255153
1        59         7   2255153
2        74         7   2255153
3       120         7   2255153
4       178         7   2255153

In [0]:
users_df.loc[4862000]

In [0]:
users_df[["username"]].reset_index().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108711 entries, 0 to 108710
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   108711 non-null  int64
 1   username  108710 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.7+ MB

In [0]:
unique_usernames = custom_df["username"].unique()
unique_usernames.

numpy.ndarray

In [0]:
custom_df["username"] = custom_df["username"].apply(lambda x: user_id_dct[x])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
custom_df.to_csv("custom_dataset.csv")

In [0]:
anime_lists_df[anime_lists_df["username"].notna()]

                  username  anime_id  ...     my_last_updated  my_tags
0                 karthiga        21  ... 2013-03-03 10:52:53      NaN
1                 karthiga        59  ... 2013-03-10 13:54:51      NaN
2                 karthiga        74  ... 2013-04-27 16:43:35      NaN
3                 karthiga       120  ... 2013-03-03 10:53:57      NaN
4                 karthiga       178  ... 2013-03-27 15:59:13      NaN
...                    ...       ...  ...                 ...      ...
31284025     Yokonightcore     15611  ... 2015-09-07 17:33:03      NaN
31284026     Yokonightcore     27815  ... 2015-09-07 17:32:05      NaN
31284027            wargod      5945  ... 2010-03-29 04:24:12      NaN
31284028  JMc_SetoKai_LoVe      1316  ... 2009-12-23 05:45:14      NaN
31284029    hinogurl_mikha      1744  ... 2008-04-05 11:36:20      NaN

[19171950 rows x 9 columns]